extends layout

block content
  h1= title
  p Welcome to #[em DSS], a Domain Space Server keeping track of the assigned locations.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Number assigned locations:] !{data.locations_count}
